*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* !===================     Navbar     ======================= */
#Navbar{
    /* border: solid red; */
    background-color: #000000;
    color: #B5BBBB;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma,Arial, Helvetica, sans-serif, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid green;
    padding: 5px;
    position: fixed;
    width: 1519px;
    top:0;
    z-index: 10;

}

body{
    background-color: #222222;
}




#Navbar .item1{
    /* border: solid blue; */
    display: flex;
    padding-left: 0px;
    font-size: 18px;
    margin: 0px 0px 0px 55px;

}


#Navbar .item2 img {
    /* border: solid blue; */
    margin: 0px 0px 0px 30px;
    height: 45px;
    width: 40px;

}







/* !===================     Navbar2     ======================= */
body{
    margin-top: 50px;

}

#Navbar2{
    /* border:  solid pink; */
    /* background-color: #1e3932; */
    padding: 25px;
    display: flex;
    width: 100%;
    
    
}

#Navbar2 {
    background-color: #555555;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    font-family: Roboto,sans-serif;
    height: 41px;
    align-items: center;
    color: white;
}


/* !========================     Hero page =============================== */

.Hero img{
    height: 700px;
    width: 1519px;

}

.Herocontent1{
    /* border: solid red; */
    position: absolute;
    left: 400px;
    top: 140px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

.Herocontent2{
    /* border: solid red; */
    position: absolute;
    left: 570px;
    top: 215px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}


.Herocontent3{
    /* border: solid red; */
    position: absolute;
    left: 700px;
    top: 250px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}





.Herocontent4{
    /* border: solid red; */
    position: absolute;
    left: 500px;
    bottom: -150px;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

.Herocontent5{
    /* border: solid red; */
    position: absolute;
    left: 410px;
    bottom: -180px;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

.Herocontent6{
    /* border: solid red; */
    position: absolute;
    left: 630px;
    bottom: -215px;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}


.Herocontent7{
    /* border: solid red; */
    background-color: orange;
    position: absolute;
    left: 643px;
    bottom: -830px;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: none;

}

.Herocontent8{
    /* border: solid red; */
    position: absolute;
    left: 150px;
    bottom: -895px;
    font-size: 45px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}


.Herocontent9{
    /* border: solid red; */
    position: absolute;
    left: 650px;
    bottom: -940px;
    font-size: 30px;
    /* font-weight: bold; */
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

.Herocontent{
    /* border: solid red; */
    position: absolute;
    left: 690px;
    bottom: -960px;
    font-size: 15px;
    /* font-weight: bold; */
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

/* !============== Aside Section ============ */

#gridimg {
    display: flex;
}



#gridimg .Box1{
    display: flex;
    /* border: solid black; */
    height: 576px;
    width:80% ;
    gap: 10px;
    margin-top: 10px;
}


.Box1 .boximg img{
    /* border: 5px solid red; */
    height: 576px;
    width: 754px;
}


.Herocontent10{
    /* border: solid red; */
    position: absolute;
    left: 90px;
    bottom: -1570px;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

.Herocontent11{
    /* border: solid red; */
    position: absolute;
    left: 160px;
    bottom: -1610px;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.Herocontent12{
    /* border: solid red; */
    position: absolute;
    left: 220px;
    bottom: -1640px;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}





/* !============== Aside Section2 ============ */



#gridimg2 .Box1{
    display: flex;
    /* border: solid black; */
    height: 576px;
    width:80% ;
    column-gap: 10px;
    margin-top: 10px;
}

.Box1 .boximg img{
    /* border: 5px solid red; */
    height: 576px;
    width: 754px;
}


/* ! =======ASIDE RIGHT==== */

.Herocontent13{
    /* border: solid teal; */
    position: absolute;
    left: 860px;
    bottom: -1570px;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}


.Herocontent14{
    /* border: solid teal; */
    position: absolute;
    left: 980px;
    bottom: -1610px;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

.Herocontent15{
    /* border: solid teal; */
    position: absolute;
    left: 1080px;
    bottom: -1640px;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

/* ! =======ASIDE LEFT  ========= */

.Herocontent16{
    /* border: solid red; */
    position: absolute;
    left: 90px;
    bottom: -2150px;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}


.Herocontent17{
    /* border: solid red; */
    position: absolute;
    left: 160px;
    bottom: -2190px;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.Herocontent18{
    /* border: solid red; */
    position: absolute;
    left: 245px;
    bottom: -2215px;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

/* ! =======ASIDE RIGHT  ========= */
.Herocontent19{
    /* border: solid teal; */
    position: absolute;
    left: 810px;
    bottom: -2150px;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


.Herocontent20{
    /* border: solid teal; */
    position: absolute;
    left: 980px;
    bottom: -2190px;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.Herocontent21{
    /* border: solid teal; */
    position: absolute;
    left: 1120px;
    bottom: -2215px;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}





/* !============== Aside Section3 ============ */


#gridimg3 .Box1{
    display: flex;
    /* border: solid black; */
    height: 576px;
    width:80% ;
    column-gap: 10px;
    margin-top: 10px;
}

.Box1 .boximg img{
    /* border: 5px solid red; */
    height: 576px;
    width: 754px;
}



.Herocontent22{
    /* border: solid red; */
    background-color: orange;
    position: absolute;
    left: 269px;
    bottom: -2700px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: none;
    border: 1px solid black;

}

.Herocontent23{
    /* border: solid red; */
    position: absolute;
    left: 90px;
    bottom: -2750px;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}


.Herocontent24{
    /* border: solid red; */
    position: absolute;
    left: 259px;
    bottom: -2790px;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.Herocontent25{
    /* border: solid red; */
    position: absolute;
    left: 120px;
    bottom: -2810px;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}


.Herocontent26{
    /* border: solid red; */
    position: absolute;
    left: 259px;
    bottom: -2830px;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}


/* !============== Aside Section3 RIGHT ============ */

.Herocontent27{
    /* border: solid teal; */
    position: absolute;
    left: 830px;
    bottom: -2750px;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}


.Herocontent28{
    /* border: solid teal; */
    position: absolute;
    left: 930px;
    bottom: -2790px;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


.Herocontent29{
    /* border: solid teal; */
    position: absolute;
    left: 1100px;
    bottom: -2810px;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}



/* !  ===========    ----------------Footer ---------------------   ==================== */

#footer{
    background-color: #111111;

}

.container{
    display: flex;
    justify-content: space-evenly;
    background-color: #111111;
    color: white;
    margin-bottom: 50px;
}

.footer-container{
    /* border: solid red; */
    margin-top: 150px;
    /* text-decoration: none; */
    /* color: white; */


}


.footer-container li a{
    /* border: solid blue; */
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;


}


li{
    list-style-type: none;
    margin-top: 30px;
    font-family: SoDoSans,Arial, Helvetica, sans-serif;
}

h3{
    font-size: 30px;
}



.footer-containergreen {
    margin-top: 115px;
}

.footer-containergreen a{
    /* background-color: green; */
    color: green;
    font-size: 16px;
    /* margin-top: 115px; */

}






.borderline {
    
    /* border: solid red; */
    display: flex;
    margin-top: 0px;
    background-color: #111111;
    height: 250px;
    width: 1400px;
    justify-content: center;
    border-top: 1px solid white;
    margin-left: 50px ;


}

.borderline  a{
    /* border: solid rebeccapurple; */
    color: white;
    margin-left: 80px;
    text-decoration: none;
    

}

